.plane {
    position: absolute;
    /* left: 0;
    right: 0; */
    top: 0;
    margin-top: -140px;
    width: 100%;
    height: auto;
    z-index: 10000;
    opacity: 0.2;
    animation: animatePlane 6s 2 ease-in-out forwards;
}

.wrapper {
    position: relative;
    max-height: 100%;
    overflow: hidden;
}

.map {
    /* width: 15960px; */
    scale: 3;
    /* width: 200%; */
}

.mapWrapper {
    position: relative;
    animation: animateMap 12s linear forwards;
    /* animation: animateMap 3s linear forwards; */
}

@keyframes animatePlane {
    0% {
        transform: rotateX(0deg) rotateZ(0deg);
    }

    25% {
        transform: rotateX(20deg) rotateZ(2deg);
    }

    75% {
        transform: rotateX(-20deg) rotateZ(-2deg);
    }

    100% {
        transform: rotateX(0deg) rotateZ(0deg);
    }
}

@keyframes animateMap {
    0% {
        transform: translate(800px, 0px);
    }


    44% {
        transform: translate(-90px, 240px);
    }

    73% {
        transform: translate(-150px, -300px);
    }

    100% {
        transform: translate(-760px, -360px);
    }
}

.svg {
    position: absolute;
    top: 280px;
    left: 390px;
    scale: 1.5;
}

.indy {
    stroke-dasharray: 1250px;
    stroke-dashoffset: 1250px;
    animation: dash 12s linear forwards;
    /* animation: dash 3s linear forwards; */
}

@keyframes dash {
    to {
        stroke-dashoffset: 0;
    }
}

.circle {
    width: 25px;
    height: 25px;
    background: #ce1616;
    position: absolute;
    z-index: 100;
    border-radius: 50%;
    animation: 0.3s animateDot forwards;
    transform: scale(0);
}

@keyframes animateDot {
    to {
        transform: scale(1);
    }
}

.usa {
    top: 150px;
    left: -390px;
}

.sweden {
    animation-delay: 5s;
    top: -20px;
    left: 435px;
}

.madagascar {
    animation-delay: 8.5s;
    top: 500px;
    left: 630px;
}

.australia {
    animation-delay: 11.5s;
    top: 555px;
    left: 1120px;
}